#cards{
    /* display:inline-block; */
    width: 550px;
    height: 390px;
     margin:3px;

    }

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:2rem;


}
