/* Footer.css */

.footer {
  background-color:rgb(102, 95, 73);
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color:aliceblue;
}

.footer p {
  margin: 5px 0;
}

.footer a {
  color: #007bff;
  text-decoration: none;
}

@media screen and (max-width: 767px) {

  .footer {
    text-align: center;
  }

  .footer p {
    margin: 10px 0;
  }
}
#linefoot{
    background-image:linear-gradient(90deg, rgba(247, 247, 247, 0.055),
     rgb(231, 231, 231), rgba(223, 223, 223, 0.055));
  height:0.1rem;
  width: 100%;
}